.myInput {
    width: 100%;
    padding: 5px 15px;
    margin: 3px 0px;
    border-radius: 3px;
    border: 1px solid var(--green);
    background-color: var(--green);
}

.myInput:hover {
    background-color: var(--dark-green);
}

