.myBtn {
    width: auto;
    padding: 5px 7px;
    margin: 3px 0px;
    font-size: 14px;
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 3px;
    cursor: pointer;
}

.myBtn:hover {
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

